<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="vmkFramework" type="Vmk.Framework.Configuration.FrameworkSettings, Vmk.Framework, Version=3.2.0.4000, Culture=neutral, PublicKeyToken=1bd7458c46759d76" />
    <section name="vmkFrameworkWeb" type="Vmk.Framework.Web.Configuration.WebSettings, Vmk.Framework, Version=3.2.0.4000, Culture=neutral, PublicKeyToken=1bd7458c46759d76" />
  </configSections>
  <connectionStrings>
    <add name="TAEM" connectionString="Data Source=10.0.0.3;Initial Catalog=TAEM;Integrated Security=False;user id=netUser;pwd=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <vmkFramework idSystem="1" managerErrorConnection="TAEM">
    <persistence defaultSession="TAEM" sessionManager="Vmk.Framework.Persistence.NHibernate.WebSessionManager, Vmk.Framework, Version=3.2.0.4000, Culture=neutral, PublicKeyToken=1bd7458c46759d76">
      <sessionsFactory>
        <add name="TAEM" virtualPath="~/NHibernate.config" />
      </sessionsFactory>
    </persistence>
  </vmkFramework>
  <vmkFrameworkWeb>
    <minifyHTMLFiltroExtensiones>
      <add extension="" />
    </minifyHTMLFiltroExtensiones>
  </vmkFrameworkWeb>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="true"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="vmkNHibernate" type="Vmk.Framework.Persistence.NHibernate.NHibernateHttpModule, Vmk.Framework, Version=3.2.0.4000, Culture=neutral, PublicKeyToken=1bd7458c46759d76" preCondition="managedHandler" />
      <!--<add name="Image" type="Vmk.FI.Web.HttpModules.ImageModule, Vmk.FI.Web" preCondition="managedHandler" />-->
      <add name="MinifyHTML" type="Vmk.Framework.Web.HttpModules.MinfyHTMLModule, Vmk.Framework, Version=3.2.0.4000, Culture=neutral, PublicKeyToken=1bd7458c46759d76" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <diagnostics performanceCounters="Off" />   
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <enableWebScript />         
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CommonServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>        
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="CommonServiceBehavior" name="TAEM.Service.APIService">
        <endpoint address="ajax" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="TAEM.Service.Contract.IAPIService" />
      </service>      
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="AjaxBinding">
        </binding>
      </webHttpBinding>      
    </bindings>    
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
